.App {

}
.wrapper {
  width: 60%;
  padding: 20px;
  margin: auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  /* background: white; */
 margin-bottom: 20px;
}
.logo {
  padding: 10px;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  height: 400px;
  background: white;
  border-radius: 1.8%;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.aside {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}